language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7
  - hhvm

matrix:
  allow_failures:
    - php: 7
    - php: hhvm

sudo: required

before_script:
  - if [[ "$TRAVIS_PHP_VERSION" == 5.3* ]]; then bash tests/runme_before_53.sh; fi
  - if [[ "$TRAVIS_PHP_VERSION" != 5.3* ]]; then bash tests/runme_before.sh; fi
  - composer install --prefer-source

after_script:
  - bash tests/runme_after.sh

script: ./vendor/bin/phpunit